.profile {
    display: flex;
    gap: 60px;
    margin: 100px 0;
}

.col1 {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.nav {
    composes: text text_type_main-medium from global;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.col2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navLink {
    composes: text text_type_main-medium text_color_inactive from global;
}

.activeNavLink {
    composes: text text_type_main-medium from global;
}

.navLink:hover {
    color: white;
}