.title {
    margin-top: 32px;
    composes: text text_type_main-medium from global;
}

.listWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 16px 24px 16px;
    gap: 32px 24px;
}
