.app {
    composes: text_type_main-default from global;
    padding: 30px 30px 40px 30px;
    background-color: #131316;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
}

.mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    width: 1280px;
    margin: 40px auto;
    flex-grow: 1;
    overflow: hidden;
}