body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, ol {
    list-style: none;
    padding-left: 0;    /* Убирает тот самый отступ слева */
    margin-left: 0;     /* Сбрасывает внешние отступы слева для безопасности */
    margin-top: 0;      /* Рекомендуется также сбросить вертикальные */
    margin-bottom: 0;
}