.header {
    background-color: #1c1c21;
}

.wrapperNav {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    composes: text text_type_main-default from global;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.leftNav {
    display: flex;
    flex: 1;
    gap: 20px;
}

.wrapperLogo {
    display: flex;
    justify-content: center;
    flex: 1;
}

.rightNav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.wrapperLink {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 20px 20px 0;
    composes: text text_color_inactive from global;
}

.wrapperLink:hover {
    color: #F2F2F3FF;
}

.wrapperLink:hover svg {
    fill: #F2F2F3FF !important;
}

.activeWrapperLink {
    composes: text text_color_default from global;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 20px 20px 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
